<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symbnb - {% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        <script src="https://kit.fontawesome.com/29868a8e76.js" crossorigin="anonymous"></script>
        
    </head>
    {# asset('build/css/app.css') #}
    <body>
        {% include "partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "partials/footer.html.twig" %}
    
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
